/* 标签样式初始化 */

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
div {
  box-sizing: border-box;
}
input,
button {
  outline: none;
  box-sizing: border-box;
  border: none;
}
