body{
	margin: 0;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

li{
	box-sizing: border-box;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.img-list .img-item{
	float: left;
	width: 500px;
    padding: 15px;
}

.img-list .img-item .img-wrap{
	width: 470px;
	height: 261px;
}

.img-list .img-item .list-img{
	width: 470px;
	height: 261px;
}