body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}

.slider-wrap {
  width: 996px;
  height: 480px;
  margin: 50px auto;
  border: 1px solid red;
}
.slider {
  float: left;
  position: relative;
  width: 853px;
  height: 480px;
}
.slider .slider-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 480px;
}
.slider .slider-item.active {
  display: block;
}

.thumbs {
  float: left;
  width: 142px;
  height: 480px;
}
.thumbs .thumb-item {
  height: 80px;
  opacity: 0.5;
}
.thumbs .thumb-item.cur{
    opacity: 1;
}
